[Log]
Level="warn"

[WebServer]
AllowOrigins="*"
SecureCookies=false

[WebServer.TLS]
HTTPSPort=0

[[EVM]]
ChainID=84532
Enabled=true
FinalityDepth=5
MinContractPayment="0"     

[EVM.GasEstimator]
Mode = "FeeHistory"                         
TipCapDefault = "2 gwei"
TipCapMin     = "30000000"          # 0.03 gwei
FeeCapDefault = "30 gwei"
# EstimateLimit = true

[EVM.HeadTracker]
SamplingInterval = "30s"            # coalesce heads
HistoryDepth = 25

[EVM.NodePool]
PollInterval   = "80s"              
NewHeadsPollInterval = "30s"
SyncThreshold = 10

[EVM.Transactions]
ReaperInterval = "30m"              # Less frequent cleanup
ReaperThreshold = "168h"            # Keep txns longer before cleanup
MaxInFlight = 32
MaxQueued = 64

[[EVM.Nodes]]
Name="Base-Sepolia"
WSURL="wss://base-sepolia.infura.io/ws/v3/c8d75efbb4ec4ca4b41c4c1bb1b95306"
HTTPURL="https://base-sepolia.infura.io/v3/c8d75efbb4ec4ca4b41c4c1bb1b95306"
